<form action="/applicationCreate" method="post">
    Candidato:
    <select name="candidate_id" required>
        <option value="">Selecione um candidato</option>
        {{#each candidates}}
        <option value="{{id}}">{{nome}}</option>
        {{/each}}
    </select>
    <br> <br>
    Vaga:
    <select name="jobVacancy_id" required>
        <option value="">Selecione uma vaga</option>
        {{#each jobVacancies}}
        <option value="{{id}}">{{titulo}} - {{company.nome}}</option>
        {{/each}}
    </select>
    <br> <br>
    Status:
    <select name="status">
        <option value="EM_ANALISE">Em Análise</option>
        <option value="APROVADO">Aprovado</option>
        <option value="REJEITADO">Rejeitado</option>
        <option value="ENTREVISTA">Entrevista</option>
    </select>
    <br> <br>
    <input type="submit" value="Cadastrar">
</form>