<table border="1px">
    <tr>
        <td> Candidato </td>
        <td> Vaga </td>
        <td> Empresa </td>
        <td> Status </td>
        <td> Data de Aplicação </td>
        <td> Editar </td>
        <td> Deletar </td>
    </tr>
    {{#each applications}}
    <tr>
        <td>{{candidate.nome}}</td>
        <td>{{jobVacancy.titulo}}</td>
        <td>{{jobVacancy.company.nome}}</td>
        <td>{{status}}</td>
        <td>{{createdAt}}</td>
        <td><a href="applicationUpdate/{{id}}">Editar</a></td>
        <td><a href="applicationDelete/{{id}}">Deletar</a></td>
    </tr>
    {{/each}}
</table>