<form action="/applicationUpdate/{{application.id}}" method="post">
    Candidato:
    <select name="candidate_id" required>
        {{#each candidates}}
        <option value="{{id}}" {{#if (eq id ../application.candidate_id)}}selected{{/if}}>{{nome}}</option>
        {{/each}}
    </select>
    <br> <br>
    Vaga:
    <select name="jobVacancy_id" required>
        {{#each jobVacancies}}
        <option value="{{id}}" {{#if (eq id ../application.jobVacancy_id)}}selected{{/if}}>{{titulo}} - {{company.nome}}
        </option>
        {{/each}}
    </select>
    <br> <br>
    Status:
    <select name="status">
        <option value="EM_ANALISE" {{#if (eq application.status 'EM_ANALISE' )}}selected{{/if}}>Em Análise</option>
        <option value="APROVADO" {{#if (eq application.status 'APROVADO' )}}selected{{/if}}>Aprovado</option>
        <option value="REJEITADO" {{#if (eq application.status 'REJEITADO' )}}selected{{/if}}>Rejeitado</option>
        <option value="ENTREVISTA" {{#if (eq application.status 'ENTREVISTA' )}}selected{{/if}}>Entrevista</option>
    </select>
    <br> <br>
    <input type="submit" value="Atualizar">
</form>