<table border="1px">
    <tr>
        <td> Nome </td>
        <td> Email </td>
        <td> Telefone </td>
        <td> Empresa </td>
        <td> Editar </td>
        <td> Deletar </td>
    </tr>
    {{#each recruiters}}
    <tr>
        <td>{{nome}}</td>
        <td>{{email}}</td>
        <td>{{telefone}}</td>
        <td>{{company.nome}}</td>
        <td><a href="recruiterUpdate/{{id}}">Editar</a></td>
        <td><a href="recruiterDelete/{{id}}">Deletar</a></td>
    </tr>
    {{/each}}
</table>