<table border="1px">
    <tr>
        <td> Candidato </td>
        <td> Experiência </td>
        <td> Educação </td>
        <td> Habilidades </td>
        <td> Certificações </td>
        <td> Editar </td>
        <td> Deletar </td>
    </tr>
    {{#each resumeCandidates}}
    <tr>
        <td>{{candidate.nome}}</td>
        <td>{{experiencia}}</td>
        <td>{{educacao}}</td>
        <td>{{habilidades}}</td>
        <td>{{certificacoes}}</td>
        <td><a href="resumeCandidateUpdate/{{id}}">Editar</a></td>
        <td><a href="resumeCandidateDelete/{{id}}">Deletar</a></td>
    </tr>
    {{/each}}
</table>