<form action="/resumeCandidateUpdate/{{resumeCandidate.id}}" method="post">
    Candidato:
    <select name="candidateId" required>
        {{#each candidates}}
        <option value="{{id}}" {{#if (eq id ../resumeCandidate.candidateId)}}selected{{/if}}>{{nome}}</option>
        {{/each}}
    </select>
    <br> <br>
    Experiência Profissional: <textarea name="experiencia" rows="4" cols="50">{{resumeCandidate.experiencia}}</textarea>
    <br> <br>
    Educação: <textarea name="educacao" rows="4" cols="50">{{resumeCandidate.educacao}}</textarea>
    <br> <br>
    Habilidades: <textarea name="habilidades" rows="4" cols="50">{{resumeCandidate.habilidades}}</textarea>
    <br> <br>
    Certificações: <textarea name="certificacoes" rows="4" cols="50">{{resumeCandidate.certificacoes}}</textarea>
    <br> <br>
    <input type="submit" value="Atualizar">
</form>