<table border="1px">
    <tr>
        <td> Título </td>
        <td> Descrição </td>
        <td> Salário </td>
        <td> Localização </td>
        <td> Tipo </td>
        <td> Empresa </td>
        <td> Recrutador </td>
        <td> Editar </td>
        <td> Deletar </td>
    </tr>
    {{#each jobVacancies}}
    <tr>
        <td>{{titulo}}</td>
        <td>{{descricao}}</td>
        <td>{{salario}}</td>
        <td>{{localizacao}}</td>
        <td>{{tipoEmprego}}</td>
        <td>{{company.nome}}</td>
        <td>{{recruiter.nome}}</td>
        <td><a href="jobVacancyUpdate/{{id}}">Editar</a></td>
        <td><a href="jobVacancyDelete/{{id}}">Deletar</a></td>
    </tr>
    {{/each}}
</table>
