<form action="/jobVacancyUpdate/{{jobVacancy.id}}" method="post">
    Título: <input type="text" name="titulo" value="{{jobVacancy.titulo}}" required>
    <br> <br>
    Descrição: <textarea name="descricao" rows="4" cols="50" required>{{jobVacancy.descricao}}</textarea>
    <br> <br>
    Salário: <input type="number" name="salario" value="{{jobVacancy.salario}}" step="0.01">
    <br> <br>
    Localização: <input type="text" name="localizacao" value="{{jobVacancy.localizacao}}">
    <br> <br>
    Tipo de Emprego:
    <select name="tipoEmprego">
        <option value="CLT" {{#if (eq jobVacancy.tipoEmprego 'CLT' )}}selected{{/if}}>CLT</option>
        <option value="PJ" {{#if (eq jobVacancy.tipoEmprego 'PJ' )}}selected{{/if}}>PJ</option>
        <option value="Estágio" {{#if (eq jobVacancy.tipoEmprego 'Estágio' )}}selected{{/if}}>Estágio</option>
        <option value="Freelancer" {{#if (eq jobVacancy.tipoEmprego 'Freelancer' )}}selected{{/if}}>Freelancer</option>
    </select>
    <br> <br>
    Empresa:
    <select name="companyId" required>
        {{#each companies}}
        <option value="{{id}}" {{#if (eq id ../jobVacancy.companyId)}}selected{{/if}}>{{nome}}</option>
        {{/each}}
    </select>
    <br> <br>
    Recrutador:
    <select name="recruiterId" required>
        {{#each recruiters}}
        <option value="{{id}}" {{#if (eq id ../jobVacancy.recruiterId)}}selected{{/if}}>{{nome}}</option>
        {{/each}}
    </select>
    <br> <br>
    <input type="submit" value="Atualizar">
</form>