<form action="/companyUpdate/{{company.id}}" method="post">
    Nome: <input type="text" name="nome" value="{{company.nome}}" required>
    <br> <br>
    CNPJ: <input type="text" name="cnpj" value="{{company.cnpj}}" required>
    <br> <br>
    Email: <input type="email" name="email" value="{{company.email}}" required>
    <br> <br>
    Telefone: <input type="text" name="telefone" value="{{company.telefone}}">
    <br> <br>
    Endereço: <input type="text" name="endereco" value="{{company.endereco}}">
    <br> <br>
    <input type="submit" value="Atualizar">
</form>