<h2>Dashboard do Recrutador</h2>
<div style="text-align: right; margin: 10px;">
    <span>Bem-vindo, {{user.nome}}!</span> |
    <a href="/logout">Sair</a>
</div>
<br>
<a href="/recruiter/profile"> <button> Meu Perfil</button> </a>
<a href="/recruiter/jobVacancies"> <button> Minhas Vagas</button> </a>
<a href="/jobVacancyCreate"> <button> Criar Nova Vaga</button> </a>
<a href="/recruiter/applications"> <button> Aplicações Recebidas</button> </a>
<br><br>

<h3>Minhas Vagas Ativas</h3>
{{#if jobVacancies}}
<table border="1px">
    <tr>
        <td>Título</td>
        <td>Aplicações</td>
        <td>Data de Criação</td>
        <td>Ações</td>
    </tr>
    {{#each jobVacancies}}
    <tr>
        <td>{{titulo}}</td>
        <td>{{applicationCount}} candidatos</td>
        <td>{{createdAt}}</td>
        <td>
            <a href="/jobVacancy/{{id}}/applications">Ver Aplicações</a> |
            <a href="/jobVacancyUpdate/{{id}}">Editar</a>
        </td>
    </tr>
    {{/each}}
</table>
{{else}}
<p>Você ainda não criou nenhuma vaga.</p>
{{/if}}