<table border="1px">
    <tr>
        <td> Login </td>
        <td> Password</td>
        <td> Type</td>
        <td> Update </td>
        <td> Delete </td>
    </tr>
    {{#each user}}
    <tr>
        <td>{{login}}</td>
        <td>{{password}}</td>
        <td>{{type}}</td>
        <td><a href="userUpdate/{{id}}">Update</a></td>
        <td><a href="userDelete/{{id}}">Delete</a></td>
    </tr>
    {{/each}}
</table>